body {
    margin: 0;
    padding: 0;
    background-color: gray;
    font-family: sans-serif;
    font-size: 30px;
}
.beatles {
    width: 200px;
    cursor: pointer;
}
.beatles .naam {
    opacity: 0;
    text-shadow: 0 0 3px black;
}
.beatles:hover .naam {
    opacity: 1;
}
.container {
    width: 1220px;
    margin: 0 auto;
    min-height: 1220px;
    background-image: url(../image/background.jpg);
    color: white;
    padding-top: 153px;
}
#john {
    margin-left: 115px;
    padding-top: 390px;
    padding-left: 275px;
    padding-bottom: 7px;
}
#john .naam {
    margin-left: 70px;
}
#paul {
    margin-left: 604px;
    margin-top: -470px;
    padding-top: 390px;
    padding-right: 257px;
    padding-left: 10px;
    padding-bottom: 5px;
}
#ringo {
    margin-left: 115px;
    margin-top: 15px;
    padding-top: 390px;
    padding-left: 275px;
    padding-bottom: 7px;
}
#ringo .naam {
    margin-left:70px
}
#george {
    margin-left: 604px;
    margin-top: -470px;
    padding-top: 390px;
    padding-right: 257px;
    padding-left: 10px;
    padding-bottom: 5px;
}
h3, p {
    margin: 0px;
    padding: 0px;
}
.naam {
    border-left: solid 12px red;
    padding-left: 12px;
}